# Database
# replace with your database username and password 
DATABASE_URL=postgresql://user:password@localhost:5432/provn

# JWT Secrets — change these to long random strings in production
JWT_SECRET=provn_access_super_secret_change_me
JWT_REFRESH_SECRET=provn_refresh_super_secret_change_me

# App
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
